<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="/venusia" method="post">
        <input type="text" name="nom" placeholder=" entre votre nom"><br>
        <input type="text" name="prenom" placeholder=" entre votre prenom"><br>
        <input type="email" name="email" placeholder="entre ton email"><br>
        <input type="text" name="programation" placeholder="entre ton language de programation"><br>
        <input type="text" name="amour" placeholder="entre ta femme">
        <button type="submit">valide</button>
     </form>
</body>
</html>